<div class="collapse navbar-collapse" id="navbarToggle">

	<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		<li class="nav-item active">
			<a class="nav-link" href="/blog/">Posty <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href={{fos_user_seciurity_login}}>Zaloguj się</a>
		
		</li>

	</ul>
</div>